@CHARSET "UTF-8";

#container {
	float: left;
    width: 850px;
    height: 700px;
    border: 1px solid;
}

#leftmenu {
	float : left;
	height: 700px;
	width: 100px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

#chat-container{
	float : left;
	height: 700px;
	width: 115px;
	border-bottom: 1px solid;
	border-right: 1px solid;
}
#top {
	width: 850px;
	border-bottom: 1px solid black;
	float :left;
}

#top_header {
	float: left;
}

#mini-menu {
	float: right;	
}

#board-container {
	float: left;
}

#board-list {
	border-bottom: 1px solid;
	width: 850px;
	height: 250px;
}

#board-button {
	margin-top: 10px;
	margin-right: 10px;
	float:right;
}

