@CHARSET "UTF-8";

#container {
	float: left;
    width: 850px;
    height: 700px;
    border: 1px solid;
}

#top {
	width: 850px;
	border-bottom: 1px solid black;
	float :left;
}

#top_header {
	float: left;
}

#mini-menu {
	float: right;	
}

#card-container {
	float: left;
}

#card-list {
	border-bottom: 1px solid;
	width: 850px;
	height: 250px;
}

#card-button {
	margin-top: 10px;
	margin-right: 10px;
	float:right;
}

/* 채팅창 css*/
iframe{
	border:0px;
}


