@CHARSET "UTF-8";

body{
	margin: 0px;
}
/* 채팅창 css*/
#chat-container{
	float:left;
	height: 700px;
	width: 277px;
	border-bottom: 1px solid;
	border-right: 1px solid;
}

#chat-user{
border: 1px solid black;
}
#chat-user-list{
border: 1px solid black;
width:200px;
height:70px;
overflow:auto;
}


#chat-image{
	/* border: 1px solid black; */
	color: azure;
	border: 1px solid;
		position:relative;
	margin:0 auto;
}
#chat-image-area{
	/* border: 1px solid black; */
}
#chat-image-area-canvas{
	/* border: 1px solid black; */
	float:left;
	cursor: crosshair;
}
#chat-image-area-colors{width:10px; height:5px; margin:0;padding:0;float: left;}
#chat-image-area-colors li{ height: 20px; width: 20px; display: block; cursor: pointer; }
#chat-image-area-colors li.selected{ height: 18px; width: 18px; display: block; border: solid 1px #eee; }
#chat-image-area-tool{
	clear:left;
	/* border:1px solid black; */
	width:250px;
}
#chat-image-area-tool-brush{
	float:left;
}
#chat-image-area-tool-control{
	clear:left;
}
#chat-image-list{
	/* border:1px solid black; */
}
#chat-image-list-header{
/* 	border:1px solid black; */
}
#chat-image-list-display{
    padding: 7px;
    border-radius: 10px;
    weight: 250px;
    height: 100px;
    overflow: auto;
}
#chat-image-list-display button{
	margin-right: 10px;
    margin-top: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    /* background-color: cornflowerblue; 클릭시 변경색상 */    
    padding-right: 6px;
    padding-left: 6px;
    margin-left: 10px;
    margin-bottom: 5px;
}
#chat-image-list-display button img{
	width: 80px;
    height: 80px;
}
#chat-image-list-display button.selected{
	margin-right: 10px;
    margin-top: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: cornflowerblue;    
    padding-right: 6px;
    padding-left: 6px;
    margin-left: 10px;
    margin-bottom: 5px;
    border: 2px solid;
}
#chat-image-list-display button.selected img{
	width: 76px;
    height: 76px;
}

#chat-image-list-control{ 
/* 	border:1px solid black; */
}
