@CHARSET "UTF-8";

.ac:after{content:'';display:block;clear:both;}
#header {
	padding:30px 0px;
	overflow: hidden;
	z-index:10;
	width:100%;
}
.wrap{
	width: 1240px;
    margin: 0 auto;
}
#left-side{
	float:left;
}

#container {
	background: rgba(76, 76, 76, 0.51);
	text-align:center;
/* 	border: 1px solid black; */
	overflow:hidden;
	padding:160px 0;
}

#title{
	font-size:100px;
	font-weight:bold;
	color:white;
}

#sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}
#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
}

/* #header {
	border: 1px solid black;
	overflow: hidden;
} */

/* #header안의 .wrap에 대한 설정*/
#header>.wrap{text-align:center;}

#logo {
/* 	border-right: 1px solid black; */
    margin-right: 530px;
}

#user {
	text-align: center;
	padding-top: 5px;
	font-size: 18px;
}

.btn{
		color:blue;
	}
.wrapper{
	position:relative;
	width:1100px;
	margin:0 auto;
}
	
#left-side{
	float:left;
	border: 1px solid black;
	height: 1000px;
	width: 500;
	padding-top: 5px;
}
	
	
	
	/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 150px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer-inner {
    margin: 0 auto;
    max-width: 1100px;
    text-align: right;
    padding: 0 15px;
}




/* 유저목록의 마우스 우 클릭 메뉴*/
#context-menus {
  position: absolute;
  display: none;
  border: 1px solid black;
  width: 100px;
  text-align: center;
}

#context-menus.active {
  display: block;
  background-color: white;
}

#context-menus.active>a {
  list-style: none;
  padding: 1px;
}

#context-menus.active>a:hover {
  background-color: lightgreen;
}
/* list-style은 li태그의 경우 div나 ul이 아닌 li에 바로 붙여야 한다. */



#leftmenu {
	float : left;
	height: 700px;
	width: 100px;
	padding-top: 11pt;
    padding-left: 5pt;
}


.file_modal {
	
}

.file_modal .modal-body {
	padding: 0 !important;
}

.file_modal .modal-dialog {
	width: 400px;
}

.file_modal iframe {
	border: 0;
	height: 250px;
} /* 환용 모달 css */

