@CHARSET "UTF-8";

.ac:after {
	content: '';
	display: block;
	clear: both;
}

#header {
	padding: 30px 0px;
	overflow: hidden;
	z-index: 10;
	width: 100%;
	background: #026AA7;
}

.wrap {
	width: 1240px;
	margin: 0 auto;
}

#left-side {
	float: left;
}

#container {
	background: rgba(76, 76, 76, 0.51);
	text-align: center;
	/* 	border: 1px solid black; */
	overflow: hidden;
	padding: 300px 0;
}

#title {
	font-size: 100px;
	font-weight: bold;
	color: white;
}

.sort_css {
	width: 142px;
	min-height: 30px;
	list-style-type: none;
	margin-left: 8px;
	padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
}

.sort_css li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	float: left;
	width: 134px;
}

#header>.wrap {
	text-align: center;
}

#header>a {
	color: white;
}

#logo {
	/* 	border-right: 1px solid black; */
	margin-right: 530px;
}

#user {
	text-align: center;
	padding-top: 5px;
	font-size: 18px;
}

.btn {
	color: blue;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 1100px;
}

#left-side {
	float: left;
	border: 1px solid black;
	height: 1000px;
	width: 500;
	padding-top: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	padding-bottom: 10px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.footer-inner {
	margin: 0 auto;
	max-width: 1100px;
	text-align: right;
	padding: 0 15px;
}

/* 유저목록의 마우스 우 클릭 메뉴*/
#context-menus {
	position: absolute;
	display: none;
	border: 1px solid black;
	width: 100px;
	text-align: center;
}

#context-menus.active {
	display: block;
	background-color: white;
}

#context-menus.active>a {
	list-style: none;
	padding: 1px;
}

#context-menus.active>a:hover {
	background-color: lightgreen;
}
/* list-style은 li태그의 경우 div나 ul이 아닌 li에 바로 붙여야 한다. */
#leftmenu {
	float: left;
	height: 700px;
	width: 100px;
	padding-top: 11pt;
	padding-left: 5pt;
}

.file_modal {
	
}

.file_modal .modal-body {
	padding: 0 !important;
}

.file_modal .modal-dialog {
	width: 400px;
}

.file_modal iframe {
	border: 0;
	height: 250px;
} /* 환용 모달 css */

/* 프로젝트 css  */
#project-content-header {
	margin: 0 auto;
	width: 80%;
}

.background {
	width: 100%;
	height: 1150px;
	background-image:
		url(http://post.phinf.naver.net/MjAxNzA0MDRfMjgy/MDAxNDkxMjkxMjU3MjAz.kFJBsjF-2WJP0yPEVzzIEL3f4-SMFPrpEsp911SP-AQg.LbvT_gMvi6xb83e99aXQzV988xs1XB9KLdPbeheT6Tgg.JPEG/444444444444444444.jpg?type=w1200);
	background-image: no-repeat;
	background-size: cover;
	background-position:;
	/* 	color: azure; */
	background: azure;
}

#form-control {
	padding: 6px 15px;
	font-size: 14px;
}

.btn-default-logo {
	font-weight: 900;
	color: white;
	font-size: 22px;
	/* background-color: #fff; */
}
.btn-default-logo-side {
	font-weight: 900;
	color: white;
	font-size: 20px;
	    border: none;
    background: none;
    padding-bottom: 8px;
}

.signup-container {
	text-align: left;
}

#basic-addon1 {
	width: 86px;
}

#basic-addon2 {
	width: 130px;
}

.signup-footer {
	text-align: right;
}

.signup-header {
	text-align: center;
	font-size: 100px;
}

#button-sortable {
	width: 100%;
}

#wrap-sortable {
	position: relative;
	width: 1100px;
	margin: 0 auto;
}

.add-card-btn {
	text-align: left;
	width: 85%;
	margin: 0 auto;
	margin: 5px;
	background: rgba(0, 0, 0, 0);
	border: 1px solid #f6f6f6;
}

.btn-group-sm {
	padding-right: 30px;
}

.card_wrap {
	/* margin-top: 20px; */
	text-align: center;
	margin: 0 auto;
	overflow: auto;
	float: left;
	max-height: 550px;
	/* height: 500px; */
	/* border: 1px solid; */
	background: #E2E4E6;
	border-radius: 0 0 3px 3px;
	margin: 0px 5px 5px 5px;
}

.card_wrap_top {
	/* margin-top: 20px; */
	text-align: center;
	float: left;
	width: 180x;
	/* border: 1px solid; */
	/*  background: #E2E4E6; */
	border-radius: 3px;
	margin: 5px;
}

}
.background_main {
	width: 100%;
	height: 1000px;
	background-image:
		url(http://post.phinf.naver.net/MjAxNzA0MDRfMjgy/MDAxNDkxMjkxMjU3MjAz.kFJBsjF-2WJP0yPEVzzIEL3f4-SMFPrpEsp911SP-AQg.LbvT_gMvi6xb83e99aXQzV988xs1XB9KLdPbeheT6Tgg.JPEG/444444444444444444.jpg?type=w1200);
	background-image: no-repeat;
	background-size: cover;
	background-position:
}

#card_wrap_indivisual {
	margin: 20px 20px 20px 20px;
}

.list_name {
	margin-top: 5px;
	width: 150px;
	background: 0 0;
	word-wrap: break-word;
	overflow: hidden;
	border: none;
	border-radius: 3px;
	box-shadow: none;
	font-weight: 700;
	height: 24px;
	min-height: 18px;
	padding: 3px 5px;
	resize: none;
	max-height: 16pc;
}
/* .textarea {
    resize: vertical;  
    -webkit-transition: background 85ms ease-in,border-color 85ms ease-in;
    transition: background 85ms ease-in-out,border-color 85ms ease-out;
    width: 100%;
}     */
.card_margin {
	margin: 15px;
	border-radius: 7px 7px;
}

.btn-info_c {
	background: #c5c5c5;
	color: #fff;
	width: 170px;
	font-weight: bold;
}
.btn-info_c_add {
	background: #c5c5c5;
	color: #fff;
	width: 170px;
	font-weight: bold;
	margin-top: 15px;
}

.btn_c {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 17px;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

#myModalLabel {
	text-align: center;
}

#hidden {
	padding-left: 150px;
}

.chage_name {
	overflow: hidden;
	word-wrap: break-word;
	height: 24px;
	margin-top: 5px;
	width: 150px
}

#droppable {
	width: 150px;
	height: 34px;
	padding: 0.2em;
	float: left;
	margin: 10px;
	border: 5px solid aquamarine;
	background: azure;
	border-radius: 10px;
	margin-right: 30px;
	position: absolute;
	top: 880px;
	left: 970px;
}

.btn-chat{
	display: inline-block;
	margin-top:	5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    
	
}


#sortable_box {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sortable_box li {
/*margin: 3px 3px 3px 0; */  
    float: left;
    text-align: center;
}


/* 스크롤 바 */

/* .scrollbar
{
	margin-left: 30px;
	float: left;
	background: none;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
} */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


/* slider bar */
input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;
  /*required for proper track sizing in FF*/
  width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #026AA7;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: azure;
}


/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: azure;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: azure;
}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: azure;
}

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
