@CHARSET "UTF-8";

#header {
	border: 1px solid black;
	overflow: hidden;
}

#logo {
	text-align: center;
	float: left;
	border-right: 1px solid black;
	width: 780px;
}

#user {
	text-align: center;
}