<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description></description>
    <display-name>CreateProjectServlet</display-name>
    <servlet-name>CreateProjectServlet</servlet-name>
    <servlet-class>viser.project.CreateProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProjectServlet</servlet-name>
    <url-pattern>/CreateProjectServlet</url-pattern>
  </servlet-mapping>
</web-app>